# Logs
*.log

# Runtime data
tmp
.fontcustom-manifest.json
build
dist

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
bower_components

# Xcode

xcuserdata
.idea/misc.xml
.idea/modules.xml
.idea/react-native-vector-icons.iml
.idea/vcs.xml
.idea/workspace.xml
android/.idea/libraries/com_android_support_appcompat_v7_23_0_1.xml
android/.idea/libraries/com_android_support_recyclerview_v7_23_0_1.xml
android/.idea/libraries/com_android_support_support_annotations_23_0_1_jar.xml
android/.idea/libraries/com_android_support_support_v4_23_0_1.xml
android/.idea/libraries/com_facebook_fresco_drawee_0_8_1.xml
android/.idea/libraries/com_facebook_fresco_fbcore_0_8_1.xml
android/.idea/libraries/com_facebook_fresco_fresco_0_8_1.xml
android/.idea/libraries/com_facebook_fresco_imagepipeline_0_8_1.xml
android/.idea/libraries/com_facebook_fresco_imagepipeline_okhttp_0_8_1.xml
android/.idea/libraries/com_facebook_react_react_native_0_20_1.xml
android/.idea/libraries/com_facebook_stetho_stetho_1_2_0_jar.xml
android/.idea/libraries/com_facebook_stetho_stetho_okhttp_1_2_0_jar.xml
android/.idea/libraries/com_fasterxml_jackson_core_jackson_core_2_2_3_jar.xml
android/.idea/libraries/com_google_code_findbugs_jsr305_3_0_0_jar.xml
android/.idea/libraries/com_nineoldandroids_library_2_4_0_jar.xml
android/.idea/libraries/com_parse_bolts_bolts_android_1_1_4_jar.xml
android/.idea/libraries/com_squareup_okhttp_okhttp_2_5_0_jar.xml
android/.idea/libraries/com_squareup_okhttp_okhttp_ws_2_5_0_jar.xml
android/.idea/libraries/com_squareup_okio_okio_1_6_0_jar.xml
android/.idea/libraries/commons_cli_commons_cli_1_2_jar.xml
android/.idea/libraries/org_webkit_android_jsc_r174650.xml
android/local.properties
android/.gradle/4.1/fileChanges/last-build.bin
android/.gradle/4.1/fileHashes/fileHashes.bin
android/.gradle/4.1/fileHashes/fileHashes.lock
android/.gradle/4.1/taskHistory/fileSnapshots.bin
android/.gradle/4.1/taskHistory/taskHistory.bin
android/.gradle/4.1/taskHistory/taskHistory.lock
android/.gradle/buildOutputCleanup/built.bin
android/.gradle/buildOutputCleanup/cache.properties
android/.gradle/buildOutputCleanup/cache.properties.lock
android/.idea/gradle.xml
android/.idea/misc.xml
android/.idea/modules.xml
android/.idea/runConfigurations.xml
android/.idea/workspace.xml
